/* Admin Column */
th#mockup_comments {
	width: 10px;
}

th#mockup_status {
	min-width: 100px;
}



div#mockup_comments_metabox div.inside,
div#mockup_info_metabox div.inside {
	margin: 0;
	padding: 0;
}

div#mockup_comments_metabox tr.even {
	background-color: #f9f9f9;
}

div#mockup_comments_metabox td,
div#mockup_info_metabox td {
	padding: 8px 0 8px 15px;
	border-spacing: 0;
}